@import "tailwindcss";

@theme {
  /* Font */
  --font-sans: Poppins, sans-serif;

  /* Colors */
  --color-dark-blue: #10151F;
  --color-dark-blue-2: #3E424A;
  --color-red: #FF4000;
  --color-grey: #F8F6F7;
  --color-grey-2: #F3E7EB;
  --color-dark-grey-400: #212B36;
}

@layer base {
  body {
    @apply font-sans bg-white text-dark-blue;
  }

  .text-primary {
    @apply text-dark-blue leading-[100%] tracking-[0%];
  }

  .text-secondary {
    @apply text-dark-blue-2 leading-[100%] tracking-[0%];
  }
}
